body {
    background-image: url('/Users/eliehrlich/Desktop/breaking-bad.jpeg');
    background-size: cover;
  }
  
  h1 {
    color: white;
    font-family: "Times New Roman", serif;
    font-size: 40pt;
    font-weight: bold;
  }
  h2 {
  }

  p {
    color: rgb(255, 255, 255);
    font-family: "Times New Roman", serif;
    font-size: 20pt;
    margin-bottom: 1em;
  }